* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

.container {
    width: 872px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: #EEF9BF;
}

.topo {
    font-size: 56px;
    font-weight: bold;
    line-height: 66px;
    padding: auto;
    background-color: aqua;
    margin: 40px;
    text-align: center;
    background-color: #EEF9BF;
    color: #75B79E;
}

ul {
    width: 940px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #EEF9BF;
    
}

li {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin: 0 34px 34px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    position: relative;
}

li div {
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all .5s;
}

img {
    width: 100px;
    height: 100px;
}

.atras {
    transform: rotateY(180deg); 
}

.selecionadoFrente {
    transform: rotateY(-180deg);
}

.selecionadoAtras {
    transform: rotateY(0deg);
}

@media (max-width: 414px) {
    .container {
        width: 100%;
    }
    
    .topo {
        width: 100%;
        font-size: 36px;
        line-height: 42px;
    }
    
    ul {
        width: 117px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    
    li {
        margin-bottom: 34px;
        justify-self: center;
    }
}